.main-page {
    background: linear-gradient(168.44deg, #2e335a, #1c1b33);
    width: 100%;
    font-size: 15px;
    color: rgba(235, 235, 245, 0.6);
    font-family: sans-serif;
}

/* Header */

.header{
    background: linear-gradient(168.44deg, #2e335a, #1c1b33);
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.header__background-icon{
    position: absolute;
    left: 100px;
}

.header__selected-icon {
    top: 60px;
}


.header__navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    display: inline-block;
}

.header__navbar-item-link {
    font-size: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400; 
}

.header__navbar-list2 .header__navbar-item-link:hover {
    border-bottom: 2px solid #cccccc;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #cccccc;
    height: 16px;
    right: -12px;
    top: 13px;
    transform: translateY(-50%);
}

.header__search {
    position: relative;
    width: 100%;
    display: inline-flex;
}

.search-input{
    outline: none;
    color: white;
    padding-left: 20px;
    width: 200%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(135deg, rgba(15, 85, 232, 0.10) 0%, rgba(157, 223, 243, 0.10) 100%);
    display: flex;
}

.header__logo {
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: -10px;
}

.search-bar1 {
    position: absolute;
    left: 38%;
}


.search-icon {
    position: absolute;
    top: 14px;
    right: -180px;
}


.header__navbar-list2 {
    position: relative;
    text-align: center;
    padding: 10px 100px;   
}

.header__navbar-list2 li a {
    font-size: 26px;
    padding: 0 16px;
}

/* Container */

.container {
    margin-top: 160px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    padding-top: 30px;
}
/* Ẩn các slider */
.mySlides {
    display: none;
}

.mySlides img {
    max-height: 480px;
    width: 100%;
}

/* định dạng các chấm chuyển đổi các slide */
.dot {
    position: relative;
    top: -40px;
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
    background-color: #717171;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.sidebar {
    background-color: #2e335a;
    position: relative;
    left: 10px;
    padding: 0;
    border-radius: 20px;
}

.sidebar__list {
    list-style: none;
    padding: 16px;
}

.sidebar__list li {
    margin: 10px 0;
}

.sidebar__list li h2 {
    font-size: 22px;
    font-weight: bold;
}

.sidebar__list a {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    transition: border-bottom 0.2s;
    width: 61%;
    text-decoration: none;
    color: #cccccc;
}

.sidebar__list a:hover {
    border-bottom: 2px solid #cccccc;
}

.sidebar__list li input {
    color: rgba(235, 235, 245, 0.6);
    margin: 10px 0;
}

.movie-container {
    display: block;
    background-color: #2E335A;
    height:180px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.movie-container:first-of-type {
    margin-left: 10px;
}

.movie-container img{
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng của thẻ cha */
    height: auto; /* Tự động tính toán chiều cao dựa trên tỷ lệ khung hình */
    display: block; /* Loại bỏ khoảng trắng dưới ảnh */
    margin: 0 auto; /* Căn giữa ảnh bên trong thẻ cha */
}

.movie-name {
    margin-top: 6px;
    margin-left: 22px;
    position: relative;
    font-size: 18px;
    top: 6px;
}

.movie-rate {
    float: left;
    height: 46px;
    margin-left: 22px;
}
.movie-rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.movie-rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    color:#ccc;
    font-size: 14px;
}
.movie-rate:not(:checked) > label:before {
    content: '★ ';
    font-size: 14px;
}
.movie-rate > input:checked ~ label {
    color: #ffc700;    
}
.movie-rate:not(:checked) > label:hover,
.movie-rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.movie-rate > input:checked + label:hover,
.movie-rate > input:checked + label:hover ~ label,
.movie-rate > input:checked ~ label:hover,
.movie-rate > input:checked ~ label:hover ~ label,
.movie-rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.movie-ticket {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.01);
    color: white;
    padding: 10px;
    border: 1px solid #48319D;
    cursor: pointer;
    display: none;
}

.movie-container img:hover {
    filter: blur(2px);
}

.movie-container:hover .movie-ticket {
    display: block;
}

.movie-ticket:hover {
    background-color: #48319D;
    color: #fff;
}

.movie-ticket:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #48319D;
    transition: all .75s;
}

.movie-ticket:hover:after{
    width: 100%;
}

.movie-ticket span {
    position: relative;
    z-index: 2;
}

.movie-info {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.01);
    color: white;
    padding: 10px;
    border: 1px solid #48319D;
    cursor: pointer;
    display: none;
}

.movie-container:hover .movie-info {
    display: block;
}

.movie-info:hover {
    background-color: #48319D;
    color: #fff;
}

.movie-info:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #48319D;
    transition: all .75s;
}

.movie-info:hover:after{
    width: 100%;
}

.movie-info span {
    position: relative;
    z-index: 2;
}

/* main comment*/
.main-comment {
    padding: 0;
    margin: 0;
}

.comment-container {
    position: relative;
}

.comment-container::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 4px solid #48319D;
    height: 28px;
    left: 10px;
    top: 62%;
    transform: translateY(-50%);
}

.comment-header {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 30px;
}

.main-sale {
    padding: 20px 0;
    margin: 20px 0;
    width: 100%; 
    height: 100%; 
}

/* main sale */

.sale-container {
    display: block;
    margin: auto;
    background-color: #2E335A;
    border: 1px solid #A73EE7;
    width: 85%;
    height: 380px;
    overflow: hidden;
    position: relative;
}

.sale-container img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sale-header {
    background: linear-gradient(132deg, #A73EE7 0%, #00EBFF 100%); 
    border-radius: 40px;
    margin: auto;
    color: #fff;
    text-align: center;
}

/* Footer */
.footer {
    display: block;
    background-color: #000000;
    padding: 20px 114px;
    color: #636469;
}

.footer-header {
    border-left: 4px solid #48319D;
    font-size: 20px;
    padding: 0 8px;
}

.footer-list-item {
    list-style: none;
    padding: 0;
    margin-left: -20px;
}

.footer-list-apps {
    display: inline-flex;
    justify-content: flex-start;
}

.footer-list-apps .footer-list-item {
    margin: 0 10px;
    font-size: 30px;
}

.footer-list-item-link {
    text-decoration: none;
    color: #636469;
}


