body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --typography-desktop-small-text-13-semibold: Roboto;
  --font-lato: Lato;

  /* font sizes */
  --font-size-xl: 20px;
  --typography-desktop-small-text-13-semibold-size: 13px;
  --font-size-mid: 17px;
  --typography-desktop-caption-15-rgular-size: 15px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-tomato: #ff3b30;
  --label-dark-primary: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.2);
  --color-gray-200: rgba(255, 255, 255, 0.5);
  --color-gray-300: rgba(255, 255, 255, 0.6);
  --label-dark-secondary: rgba(235, 235, 245, 0.6);
  --color-black: #000;
  --color-lightcoral: #e08686;

  /* Gaps */
  --gap-base: 16px;
  --gap-9xl: 28px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-0: 0px;
  --padding-10xs: 3px;
  --padding-5xl: 24px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-base: 16px;
  --br-11xl: 30px;
  --br-7xs: 6px;
  --br-9xs: 4px;
}
